.banner {
  display: block;
  height: 400px;
  margin: 0 auto;
}

.postContainer {

  h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }

  hr {
    border: 1px solid #d7d7d7d7;
    filter: opacity(0.1);
  }
}

.content {
  margin: 4rem 0 3rem;

  h2 {
    margin-bottom: 3rem;
  }

  p, ul {
    font-size: 1.125rem;
    line-height: 25.2px;
    margin: 1.5rem 0;
  }

  ul {
    padding-left: 1.5rem;
  }

  li {
    margin: 0.5rem 0;
  }

}

.prevNextSection {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;

  div {
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 0.5rem;
  }

  div:last-child {
    text-align: right;
  }

  a {
    text-decoration: none;
    font-weight: 600;

    transition: 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
